body {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#content {
    max-height: 300px;
    /*overflow-y: auto;*/
}
